@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import "variable";

.card {
  @include mobile {
    --width-card: 300px;
    --height-card: 400px;
  }
  @include tablet {
    --width-card: 400px;
    --height-card: 500px;
  }
  @include desktop {
    --width-card: 500px;
    --height-card: 600px;
  }
}

// police d'écriture
body {
  font-family: "Ubuntu", sans-serif;
}

// paramétre de la carte
.card {
   width: var(--width-card);
   height: var(--height-card);
   box-shadow: 0px 5px 5px gray;
   text-align: center;
   text-decoration: none;

  .card-img {
    width: var(--width-card);
    height: auto;
    overflow: hidden;
    max-width: var(--width-card);
    height: auto;
    overflow: hidden;
  }
  .card-text , .card-title{
    word-wrap: break-word;
}

}

// Bouton
.btn {
  border: 0px;
  border-radius: 15px;
  padding: var(--paddingbtn);

  &:hover {
    background-color: var(--backgroundcolorhover);
  }

  &__primary {
    background-color: var(--backgroundcolor, white);
    padding: var(--paddingbtn);
    &:hover {
      background-color: var(--backgroundcolorhover);
      color: white;
    }
  }
  &__secondary {
    background-color: var(--backgroundcolor, white);
    padding: var(--paddingbtn);
    &:hover {
      background-color: var(--backgroundcolorhover);
      color: white;
    }
  }
}

// Taille des boutons gros et petit
.btn-big {
  padding: var(--paddingbtn);
}
.btn-small {
  padding: var(--paddingbtn);
}

// la boucle
$grid-columuns: 12;

@for $i from 1 through $grid-columuns {
    .grid-card-#{$i} {
        width: percentage($i/ $grid-columuns);
    }
}
[class^='grid-card'] {
    height: var(--height-card);
    box-shadow: 0px 5px 5px gray;
    text-align: center;
    text-decoration: none;
}

// les couleurs

.red {
    background-color: $red;
}

.green {
    background-color: $green;
}

.blue {
    background-color: $blue;
}

.black {
    background-color: $black;
    color: $white;
}

.white {
    background-color: $white;
}