$white: #fff;
$black: #000000;
$blue: #0000FF;
$green: #008000;
$red: #FF0000;
$breakpoints-desktop: 800px;
$breakpoints-tablet: 600px;
$breakpoints-mobile: 600px;
:root {
    .btn {
        --paddingbtn: 7px;
        --backgroundcolorhover: rgb(190, 190, 190);
    }
    .btn__primary {
        --backgroundcolor: lightblue;
        --backgroundcolorhover: rgb(111, 185, 209);
        --paddingbtn: 15px;
    }
    .btn__secondary {
        --backgroundcolor: rgb(146, 158, 156);
        --backgroundcolorhover: rgb(118, 128, 126);
        --paddingbtn: 10px;
    }
    .btn-big {
        --paddingbtn: 15px;
    }
    .btn-small {
        --paddingbtn: 10px;
    }
}

//les breakpoints
@mixin desktop {
    @media screen and (min-width: $breakpoints-desktop) {
      @content
    }
};

@mixin tablet {
    @media screen and (min-width: $breakpoints-tablet) {
      @content
    }
};

@mixin mobile {
    @media screen and (max-width:$breakpoints-mobile) {
      @content
    }
}

