$large: 300px;
$large_medium: 150px;
$medium: 50px; 
$small_medium: 25px; 
$small: 12px;
$minsmall: 5px; 
//card// 
$width_mobile: 300px;
$height_mobile: 500px; 
$width_desktop: 330px; 
$height_desktop: 550px;