$white: #fff;
$black: #000000;
$blue: #0000FF;
$green: #008000;
$red: #FF0000;

$width: 1200px;

:root {
    .btn {
        --paddingbtn: 5px;
        --backgroundcolorhover: rgb(190, 190, 190);
    }
    .btn__primary {
        --backgroundcolor: lightblue;
        --backgroundcolorhover: rgb(111, 185, 209);
        --paddingbtn: 15px;
    }
    .btn__secondary {
        --backgroundcolor: rgb(146, 158, 156);
        --backgroundcolorhover: rgb(118, 128, 126);
        --paddingbtn: 10px;
    }
    .btn-big {
        --paddingbtn: 15px;
    }
    .btn-small {
        --paddingbtn: 10px;
    }

}

@mixin desktop {
    @media screen and (min-width: 800px) {
      @content
    }
};

@mixin tablet {
    @media screen and (min-width: 600px) {
      @content
    }
};

@mixin mobile {
    @media screen and (min-width:320px) {
      @content
    }
}

